.form-group{
    display: inline-block;
}

#VIN{
    width: 25%;
    width: 300px;
}

#mileage{
    width: 10%;
    width: 100px;
}

#range{
    width:15%;
}

#ZIP{
    width:10%;
    width: 100px;
}

.heading{
    background-color:  #053361;
}

.pushButton{
    background-color:#ffd900;
    color: #053361;
    font-weight: bolder;  
}

.logo {
    width: 70px;
    height: 40px;
}