.menuItem {
    font-size: 25px;
    color: #053361;
}

.menu{
    color:#FFD900;
    background-color: #0559ad;
    font-size:25px;
    font-family: 'Devonshire', cursive;
    background-color:#FFD900;

 }

 .active {
    color: #053361;
    font-weight: bold;
 }


 /* ***********************************************************/
/*  Added for effects on the application portfolio buttons   */
/* ***********************************************************/
.event_btnm {
    background: transparent;
    text-align: center;
    color:#FFD900;
    display: inline-block;
    z-index: 2;
    position: relative;
    border-radius: 50%;
  }
  
  .event_btnm i {
    padding-right: 15px;
  }
  
  .event_btnm:before {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #FFD900;
    background-color:#053361;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .event_btnm:after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #FFD900;
    border:1px solid #053361;
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  
  .event_btnm:hover {
    color: #FFD900;
    color:#053361;
  }
  
  .event_btnm:hover:before {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  
  .event_btnm:hover:after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  